<?xml version='1.0' encoding='utf-8'?>
<!-- ~ Hibernate, Relational Persistence for Idiomatic Java ~ ~ License: 
	GNU Lesser General Public License (LGPL), version 2.1 or later. ~ See the 
	lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>. -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<!-- Enable Hibernate's automatic session context management -->

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>


		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>

		<!-- Assume test is the database name -->
		<property name="hibernate.connection.url">
			jdbc:mysql://192.168.1.3:3306/electronics
		</property>
		<property name="hibernate.connection.username">
			user1
		</property>
		<property name="hibernate.connection.password">
			user1
		</property>

		<property name="hbm2ddl.auto">update</property>

		<!-- List of XML mapping files -->
		<mapping class="edu.electronics.dal.orm.Battery" />
		<mapping class="edu.electronics.dal.orm.BreadBoard" />
		<mapping class="edu.electronics.dal.orm.Capacitor" ></mapping>
		<mapping class="edu.electronics.dal.orm.Crystal" />
		<mapping class="edu.electronics.dal.orm.Diode" />
		<mapping class="edu.electronics.dal.orm.DipSwitch" />
		<mapping class="edu.electronics.dal.orm.IC" />
		<mapping class="edu.electronics.dal.orm.LED" />
		<mapping class="edu.electronics.dal.orm.PushButton" />
		<mapping class="edu.electronics.dal.orm.Resistor" />
		<mapping class="edu.electronics.dal.orm.SevenSegment" />
		<mapping class="edu.electronics.dal.orm.Transistor" />
		<mapping class="edu.electronics.dal.orm.VoltageRegulator" />
		<mapping class="edu.electronics.dal.orm.Resistor" />
	</session-factory>

</hibernate-configuration>
